.logo {
    height: 50px;
}

.buttons-red{
    color: white;
    background-color: red;
}

.buttons-green{
    color: white;
    background-color: green;
}

.buttons-gray{
    color: white;
    background-color: gray;
}

.padding{
    padding-left: 10px;
}

.escudo {
    height: 20px;
}

.reload {
    height: 20px;

}

.filtro{
    display:flex;
    justify-content:flex-end;
}

.padding_top {
    padding-top: 100px;
}   

.body{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}